<div class="animation-element visible">
  <app-page-navigation [activeLinkPage]="3"></app-page-navigation>
</div>

<pre data-slides="1" data-animation="fade-up" class="animation-element text-block text first">krieg und streit</pre>
<img data-slides="1,2,3,4,5" data-animation="fade" class="animation-element separation" src="assets/svg/spaltung.land.svg"/>
<img data-slides="1,2,3,14,15,16,17,18,19,20" data-animation="fade-left" class="animation-element north-korea-flag" src="assets/svg/north-korea-flag.svg" alt="north-korea-flag"/>
<img data-slides="1,2,3,14,15,16,17,18,19,20" data-animation="fade-right" class="animation-element south-korea-flag" src="assets/svg/south-korea-flag.svg" alt="south-korea-flag"/>
<img data-slides="1" data-animation="fade-up" class="animation-element swords-war" src="../../assets/svg/swords-war.svg" alt="swords-war"/>

<pre data-animation="fade-up" data-slides="2,3,4,5,6,7,8,9,10,11,12,13,14,15,16" class="animation-element text-block text first">der streit beginnt indem
nordkorea versucht mit
militärischer gewalt südkorea
zu besetzen</pre>

<pre data-animation="fade-up" data-slides="3,4,5,6,7,8,9,10,11,12,13,14,15,16" class="animation-element text-block text conflict-text-2">1950 beginnt der koreakrieg
und somit der kampf um das land</pre>

<pre data-animation="fade-up" data-slides="4,5,6,7,8,9,10,11,12,13,14,15,16" class="animation-element text-block text conflict-text-3">nordkorea wird unterstützt von
der sowjetunion und china

südkorea wird unterstützt von
den usa und der uno</pre>

<img data-animation="fade-right" data-slides="4" class="animation-element sowjet-flag-big" src="assets/svg/sowjet-flag.svg" alt="north-korea-flag"/>
<img data-animation="fade-left" data-slides="4" class="animation-element china-flag-big" src="assets/svg/china-flag.svg" alt="north-korea-flag"/>
<img data-animation="fade-up" data-slides="4,5,6,7,8,9,10,11,12,13" class="animation-element north-korea-flag-big" src="assets/svg/north-korea-flag.svg" alt="north-korea-flag"/>

<img data-animation="fade-right" data-slides="4" class="animation-element usa-flag-big" src="assets/svg/usa-flag.svg" alt="south-korea-flag"/>
<img data-animation="fade-left" data-slides="4" class="animation-element uno-flag-big" src="assets/svg/uno-flag.svg" alt="south-korea-flag"/>
<img data-animation="fade-up" data-slides="4,5,6,7,8,9,10,11,12,13" class="animation-element south-korea-flag-big" src="assets/svg/south-korea-flag.svg" alt="south-korea-flag"/>

<img data-animation="fade" data-slides="6" class="animation-element separation" src="assets/svg/spaltung.land.war-one.svg"/>
<img data-animation="fade" data-slides="7" class="animation-element separation" src="assets/svg/spaltung.land.war-two.svg"/>
<img data-animation="fade" data-slides="8" class="animation-element separation" src="assets/svg/spaltung.land.war-three.svg"/>
<img data-animation="fade" data-slides="9" class="animation-element separation" src="assets/svg/spaltung.land.war-four.svg"/>
<img data-animation="fade" data-slides="10" class="animation-element separation" src="assets/svg/spaltung.land.war-five.svg"/>
<img data-animation="fade" data-slides="11" class="animation-element separation" src="assets/svg/spaltung.land.war-six.svg"/>
<img data-animation="fade" data-slides="12" class="animation-element separation" src="assets/svg/spaltung.land.war-seven.svg"/>
<img data-animation="fade" data-slides="13" class="animation-element separation" src="assets/svg/spaltung.land.war-eight.svg"/>

<pre data-animation="fade-up" data-slides="14,15,16" class="animation-element text-block text conflict-text-4">1953 einigen sich beide länder
vertraglich auf einen
waffenstillstand, es ist jedoch
kein friedensvertrag

die grenze ist die heutig
bekannte landesgrenze</pre>
<img data-animation="fade-down" data-slides="14,15,16,17,18,19,20" class="animation-element separation-north-korea" src="assets/svg/spaltung.north-korea.svg"/>
<img data-animation="fade" data-slides="14,17" class="animation-element contract" src="../../assets/svg/contract.svg"/>
<img data-animation="fade-up" data-slides="14,15,16,17,18,19,20" class="animation-element separation-south-korea" src="assets/svg/spaltung.south-korea.svg"/>

<pre data-animation="fade-up" data-slides="15,16" class="animation-element text-block text conflict-text-5">2006 provoziert nordkorea mit
atomwaffentests</pre>
<img data-animation="fade-down" data-slides="15" class="animation-element conflict-bombs" src="../../assets/svg/bombs.svg"/>

<pre data-animation="fade-up" data-slides="16" class="animation-element text-block text conflict-text-6">2013 werden mehr illegale
raketentests durchgeführt

die uno verhängt reiseverbot
nach nordkorea und schließt
deren landes bankkonten</pre>
<img data-animation="fade" data-slides="16" class="animation-element fly-restriction" src="../../assets/svg/fly-restriction.svg"/>
<img data-animation="fade" data-slides="16" class="animation-element cross" src="../../assets/svg/cross.svg"/>

<pre data-animation="fade-up" data-slides="17,18,19,20" class="animation-element text-block text first">nordkorea kündigt den
waffenstillstand von 1953
dabei steht nordkorea alleine
da und südkorea wird unterstützt
von uno, usa und japan</pre>
<img data-animation="fade" data-slides="18,19,20" class="animation-element broken-contract" src="../../assets/svg/broken-contract.svg"/>

<img data-animation="fade-down" data-slides="19,20" class="animation-element japan-support" src="assets/svg/japan-flag.svg"/>
<img data-animation="fade-down" data-slides="20" class="animation-element usa-support" src="assets/svg/usa-flag.svg"/>
<img data-animation="fade-down" data-slides="20" class="animation-element uno-support" src="assets/svg/uno-flag.svg"/>
