$left-adjustments: -180;

pre.conflict-text-2 {
  top: 320px;
}
pre.conflict-text-3 {
  top: 382px;
}
pre.conflict-text-4 {
  top: 509px;
}

pre.conflict-text-5 {
  top: 676px;
}

pre.conflict-text-6 {
  top: 744px;
}


.separation {
  position: fixed;
  z-index: 10;
  width: 509px;
  height: 784px;
  left: (1123 + $left-adjustments) + 0px;
  top: 106px;
}
.north-korea-flag {
  position: fixed;
  z-index: 11;
  width: 132px;
  height: 92px;
  left: (1030 + $left-adjustments) + 0px;
  top: 168px;
}

.south-korea-flag {
  position: fixed;
  z-index: 11;
  width: 148px;
  height: 104px;
  left: (1516 + $left-adjustments) + 0px;
  top: 626px;
}

.swords-war {
  position: fixed;
  z-index: 11;
  width: 273px;
  height: 261px;
  left: (1046 + $left-adjustments) + 0px;
  top: 376px;
}

.north-korea-flag-big {
  position: fixed;
  z-index: 12;
  width: 192px;
  height: 134px;
  left: (1044 + $left-adjustments) + 0px;
  top: 151px;
}

.sowjet-flag-big {
  position: fixed;
  z-index: 11;
  width: 180px;
  height: 126px;
  left: (960 + $left-adjustments) + 0px;
  top: 80px;
}

.china-flag-big {
  position: fixed;
  z-index: 11;
  width: 180px;
  height: 126px;
  left: (1140 + $left-adjustments) + 0px;
  top: 81px;
}

.south-korea-flag-big {
  position: fixed;
  z-index: 12;
  width: 191px;
  height: 134px;
  left: (1476 + $left-adjustments) + 0px;
  top: 700px;
}

.usa-flag-big {
  position: fixed;
  z-index: 11;
  width: 190px;
  height: 124px;
  left: (1378 + $left-adjustments) + 0px;
  top: 627px;
}

.uno-flag-big {
  position: fixed;
  z-index: 11;
  width: 199px;
  height: 141px;
  left: (1568 + $left-adjustments) + 0px;
  top: 626px;
}

.separation-north-korea {
  position: fixed;
  z-index: 11;
  width: 420px;
  height: 467px;
  left: (1076 + $left-adjustments) + 0px;
  top: 53px;
}

.contract {
  position: fixed;
  z-index: 12;
  width: 197px;
  height: 247px;
  left: (1188 + $left-adjustments) + 0px;
  top: 357px;
}

.separation-south-korea {
  position: fixed;
  z-index: 11;
  width: 403px;
  height: 410px;
  left: (1228 + $left-adjustments) + 0px;
  top: 473px;
}

.conflict-bombs {
  position: fixed;
  z-index: 12;
  width: 245px;
  height: 242px;
  left: (991 + $left-adjustments) + 0px;
  top: 399px;
}

.fly-restriction {
  position: fixed;
  z-index: 11;
  width: 571px;
  height: 344px;
  left: (1000 + $left-adjustments) + 0px;
  top: 301px;
}

.cross {
  position: fixed;
  z-index: 12;
  width: 671px;
  height: 503px;
  left: (972 + $left-adjustments) + 0px;
  top: 211px;
}

.broken-contract {
  position: fixed;
  z-index: 12;
  width: 234px;
  height: 300px;
  left: (1190 + $left-adjustments) + 0px;
  top: 302px;
}

.japan-support {
  position: fixed;
  z-index: 10;
  width: 142px;
  height: 100px;
  left: (1614 + $left-adjustments) + 0px;
  top: 570px;
}

.usa-support {
  position: fixed;
  z-index: 12;
  width: 148px;
  height: 97px;
  left: (1513 + $left-adjustments) + 0px;
  top: 505px;
}

.uno-support {
  position: fixed;
  z-index: 13;
  width: 152px;
  height: 106px;
  left: (1609 + $left-adjustments) + 0px;
  top: 452px;
}
