<div class="animation-element visible">
  <app-page-navigation [activeLinkPage]="2"></app-page-navigation>
</div>

<pre data-animation="fade-up" data-slides="1" class="animation-element text-block text">die spaltung</pre>
<img data-animation="fade" data-slides="1" class="animation-element land-after-first-page" src="assets/svg/korea.land.svg" alt="korea-land"/>

<pre data-animation="fade" data-slides="2,3,4,5,6" class="animation-element text-block text">das land spaltet sich in
zwei besatzungszonen</pre>
<img data-animation="fade" data-slides="2,3,4,5,6" class="animation-element separation" src="assets/svg/spaltung.land.svg" alt="korea-spaltung"/>

<pre data-animation="fade-up" data-slides="3,4,5,6" class="animation-element text-block separation-text-2 text">der nördliche teil wird von
der sowjetunion besetzt

und der südliche teil von
den usa
</pre>
<img data-animation="fade-right" data-slides="3,4,5,6" class="animation-element sowjet-flag" src="assets/svg/sowjet-flag.svg" alt="sowjet-flag"/>
<img data-animation="fade-left" data-slides="3,4,5,6" class="animation-element usa-flag" src="assets/svg/usa-flag.svg" alt="china-flag"/>

<pre data-animation="fade-up" data-slides="4,5,6" class="animation-element text-block separation-text-3 text">1948 gründet die sowjetunion
die demokratische volksrepublik
korea [nordkorea]
</pre>
<img data-animation="fade-left" data-slides="4,5,6" class="animation-element north-korea-flag" src="assets/svg/north-korea-flag.svg" alt="north-korea-flag"/>

<pre data-animation="fade-up" data-slides="5,6" class="animation-element text-block separation-text-4 text">und die usa gründet zur gleichen
zeit die republik korea [südkorea]</pre>
<img data-animation="fade-right" data-slides="5,6" class="animation-element south-korea-flag" src="assets/svg/south-korea-flag.svg" alt="south-korea-flag"/>

<pre data-animation="fade-up" data-slides="6" class="animation-element text-block separation-text-5 text">das land wird am
38. breitengrad gespalten</pre>

<img data-animation="fade-right" data-slides="6" class="animation-element border" src="assets/svg/spaltung/06.border.svg" alt="border"/>
<div data-animation="fade-up" data-slides="6" class="animation-element border-text text">38. breitengrad</div>
