<app-page-navigation [activeLinkPage]="4"></app-page-navigation>

<pre data-animation="fade-up" data-slides="1" class="animation-element text-block text first">die jüngsten ergeignisse</pre>

<img data-animation="fade-down" data-slides="1,5" class="animation-element separation-north-korea" src="assets/svg/spaltung.north-korea.svg"/>
<img data-animation="fade-up" data-slides="1,5" class="animation-element separation-south-korea" src="assets/svg/spaltung.south-korea.svg"/>

<pre data-animation="fade-up" data-slides="2,3,4,5" class="animation-element text-block text first">2018 treffen sich beide parteien
an der grenze als symbol der
annäherung auf frieden</pre>
<img data-animation="fade-up" data-slides="2,3,4" class="animation-element korea" src="assets/svg/recent.land.svg"/>
<img data-animation="fade" data-slides="2" class="animation-element peace" src="assets/svg/peace.svg"/>

<pre data-animation="fade-up" data-slides="3,4,5" class="animation-element text-block text recent-text-2">2020 senden nordkoreanische
flüchtlinge propaganda flyer
und usb-sticks mit
südkoreanischer kultur [k-pop
musik und fernsehserien]
mit luftballons von südkorea
nach nordkorea

das ziel dieser aktion war es
nordkoreanische bürger zu
motivieren aus dem land zu
flüchten </pre>
<div data-animation="fade-right" data-slides="3" class="animation-element confetti-1">
  <img class="confetti-1-rotate" src="assets/svg/confetti-1.svg"/>
</div>
<div data-animation="fade-left" data-slides="3" class="animation-element confetti-2">
  <img class="confetti-2-rotate" src="assets/svg/confetti-2.svg"/>
</div>
<div data-animation="fade-up" data-slides="3" class="animation-element confetti-3">
  <img class="confetti-3-rotate" src="assets/svg/confetti-3.svg"/>
</div>

<pre data-animation="fade-up" data-slides="4,5" class="animation-element text-block text recent-text-3">im juni 2020 sprengte
nordkorea das liason-büro,
welches der ort des treffens
in 2018 an der grenze war. </pre>
<img data-animation="fade" data-slides="4" class="animation-element explosion" src="assets/svg/explosion.svg"/>

<pre data-animation="fade-up" data-slides="5" class="animation-element text-block text recent-text-4">die situation ist weiterhin heikel
und eine aussicht auf eine
versöhnung ist aktuell nicht
vorhanden </pre>


<pre data-animation="fade-up" data-slides="6" class="animation-element text-block text first">wo willst du leben?</pre>
<a [routerLink]="'/north-korea'">
  <img data-animation="fade-left" data-slides="6" class="animation-element live-in-north-korea" src="assets/svg/spaltung.north-korea-with-text.svg"/>
</a>
<a [routerLink]="'/south-korea'">
  <img data-animation="fade-right" data-slides="6" class="animation-element live-in-south-korea" src="assets/svg/spaltung.south-korea-with-text.svg"/>
</a>
