<div data-animation="fade-right" data-slides="2,3,4,5" class="animation-element">
  <app-page-navigation [activeLinkPage]="1"></app-page-navigation>
</div>


<img data-animation="fade-down" data-slides="1" class="animation-element land-first-page" src="assets/svg/korea.land.svg" alt="korea-land"/>
<img data-animation="fade-down" data-slides="1" class="animation-element sun" src="assets/svg/vorgeschichte/01.korea.sonne.svg" alt="korea-sonne"/>
<img data-animation="fade-left" data-slides="1" class="animation-element clouds" src="assets/svg/vorgeschichte/03.korea.wolken.svg" alt="korea-wolken"/>
<img data-animation="fade-up" data-slides="1" class="animation-element title" src="assets/svg/vorgeschichte/04.korea.titel.svg" alt="korea-titel"/>
<img data-animation="fade-up" data-slides="1" class="animation-element waves" src="assets/svg/vorgeschichte/00.korea.wellen.svg" alt="korea-wellen"/>

<img data-animation="fade" data-slides="2" class="animation-element land-after-first-page" src="assets/svg/korea.land.svg" alt="korea-land"/>
<pre data-animation="fade-up" data-slides="2,3,4,5" class="animation-element text-block text history first">im 13. jahrhundert
gehörte korea dem
mongolischen reich an.</pre>
<img data-animation="fade-left" data-slides="2" class="animation-element swords" src="assets/svg/vorgeschichte/06.korea.swords.svg" alt="korea-swords"/>

<pre data-animation="fade-up" data-slides="2,3,4,5" class="animation-element text-block text history-2">im 19. jahrhundert
beendete china, mit
seiner machtübernahme,
die herrschaft der
mongolen.</pre>
<img data-animation="fade" data-slides="3" class="animation-element land-after-first-page" src="assets/svg/vorgeschichte/07.korea.land.red.svg" alt="korea-land-red"/>
<img data-animation="fade-right" data-slides="3" class="animation-element stars" src="assets/svg/vorgeschichte/08.korea.stars.svg" alt="korea-stars"/>

<pre data-animation="fade-up" data-slides="4,5" class="animation-element text-block text history-3">1897 wurde ein vertrag
geschlossen und somit
die unabhängigkeit
koreas als koreanisches
kaiserreich beschlossen. </pre>
<img data-animation="fade" data-slides="4,5" class="animation-element land-after-first-page" src="assets/svg/korea.land.svg" alt="korea-land"/>
<img data-animation="fade-right" data-slides="4" class="animation-element flag" src="assets/svg/vorgeschichte/09.korea-flag.svg" alt="korea-flag"/>

<pre data-animation="fade-up" data-slides="5" class="animation-element text-block text history-4">1910 wurde korea mit
einer japanischen invasion
überrant und besetzt.
das volk wurde brutalst
unterdrückt indem die
japaner sogar die
koreanische sprache
verbietetet.

1945 kapituliert japan
nach dem 2. weltkrieg
</pre>
<img data-animation="fade-right" data-slides="5" class="animation-element clouds-japan" src="assets/svg/vorgeschichte/10.korea-clouds-japan.svg" alt="korea-clouds-japan"/>
<img data-animation="fade-left" data-slides="5" class="animation-element volcano" src="assets/svg/vorgeschichte/11.korea-volcano.svg" alt="korea-volcano"/>
