html, body {
  width: 100%;
  height: 100%;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  background: url("assets/svg/korea.hintergrund.papier.svg") center center no-repeat fixed;
  background-size: cover;
  font-family: hero-new, sans-serif;
  font-style: normal;
  font-size: 26px;
}

.content {
  width: 1996px;
  position: relative;
}

.page {
  position: relative;
  width: 100%;
  height: 10000000px;
  float: left;
}

.text-block {
  position: fixed;
  z-index: 6;
  width: 316px;
  left: 428px;
  top: 210px;
}

pre {
  margin: 0;
  &:first-of-type {
    margin-top: 6px;
  }
  &.text {
    font-family: hero-new, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
  }
}

.land-first-page {
  position: fixed;
  z-index: 3;
  width: 507px;
  left: 844px;
  top: 110px;
}

.land-after-first-page {
  position: fixed;
  z-index: 3;
  width: 507px;
  left: 1125px;
  top: 110px;
}

.animation-element {
  position: fixed;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: both;

  &.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animation-fade {
  transition: 2s linear all;
  animation-name: fadeOut;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(40px, 0, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(-40px, 0, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, 0, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fade-up {
  animation-name: fadeInUp;
}

.fade-down {
  animation-name: fadeInDown;
}

.fade-left {
  animation-name: fadeInLeft;
}

.fade-right {
  animation-name: fadeInRight;
}

.fade {
  animation-name: fadeIn;
}
