<app-page-navigation [activeLinkPage]="6"></app-page-navigation>
<span data-animation="fade-down" data-slides="1,2,3,4,5"  class="scroll-notification-container animation-element">
  <app-scroll-notification [center]="false"></app-scroll-notification>
</span>

<pre data-animation="fade-up" data-slides="1,2" class="animation-element text-block text first">leben in südkorea</pre>
<img data-animation="fade-up" data-slides="1,2,3,4,5,6" class="animation-element separation-south-korea" src="assets/svg/spaltung.south-korea.svg"/>

<pre data-animation="fade-up" data-slides="2" class="animation-element text-block text live-in-south-korea-text-2">die hauptstadt ist seoul, die
2. größte metropolregion der
welt [23 mio. menschen].</pre>
<img data-animation="fade-left" data-slides="2,3,4,5,6" class="animation-element seoul" src="../../assets/svg/south-korea-city-name.svg"/>
<img data-animation="fade" data-slides="2,3,4,5,6" class="animation-element seoul-dot" src="../../assets/svg/south-korea-city-location.svg"/>


<pre data-animation="fade-up" data-slides="3,4,5" class="animation-element text-block text first">positive eigenschaften in
südkorea

das land ist technisch
revolutionär und alles ist
extremst schnell und hektisch.

die kultur südkoreas ist
eine mischung zwischen
tradition und morderne.
</pre>
<img data-animation="fade-left" data-slides="3" class="animation-element seoul-image-1" src="../../assets/svg/south-korea-image-1.svg"/>
<img data-animation="fade" data-slides="3" class="animation-element seoul-image-2" src="../../assets/svg/south-korea-image-2.svg"/>

<pre data-animation="fade-up" data-slides="4,5" class="animation-element text-block text live-in-south-korea-text-3">das lieblings essen ist kimchi,
ein scharf eingelegter kohl.
</pre>
<img data-animation="fade-left" data-slides="4" class="animation-element seoul-image-3" src="../../assets/svg/south-korea-image-3.svg"/>

<pre data-animation="fade-up" data-slides="5" class="animation-element text-block text live-in-south-korea-text-4">die kultur beschäftigt sich gerne
mit korean pop musik, k-drama
filmen und ein beliebter
zeitvertreib ist karaoke oder in
spielehallen gehen.

die menschen sind
aufgeschlossen und
kontaktfreudig.
</pre>
<img data-animation="fade-left" data-slides="5" class="animation-element seoul-image-4" src="../../assets/svg/south-korea-image-4.svg"/>

<pre data-animation="fade-up" data-slides="6" class="animation-element text-block text first">negative eigenschaften in
südkorea

die gesellschaft richtet sich
nach dem altersunterschied
und ist sehr hierarchisch.

extrem hoher alkoholkonsum ist
in der gesellschaft anerkannt.

»han« — nationaltrauer
traurige grundstimmung,
die nur ein koreaner fühlt
aufgrund der geschichtlichen
ereignissen.

die firma wo man arbeitet muss
alle entscheidungen absegnen,
welche man im leben treffen
möchte.

zwischenmenschliche
interaktionen sind mit extremen
drama geschmückt wie in
einer drama soap aus dem tv.

die selbstmordrate ist höher als
in japan [höchste weltweit].

+10 stunden pro tag arbeiten
ist normal.
</pre>
