$left-adjustments: -180;

pre.live-in-south-korea-text-2 {
  top: 309px
}

.separation-south-korea {
  position: fixed;
  z-index: 11;
  width: 625px;
  height: 635px;
  left: (1110 + $left-adjustments) + 0px;
  top: 244px;
}
